<div id="password_reset" class="content">
	<h2>Créer un nouveau mot de&nbsp;passe</h2>
	<form id="passwordResetForm">
		<span class="error" id="form"></span>

		<p id="password">
			<label><span>Nouveau mot de passe : </span><br><input type="password" name="password"></label>
			<br><span class="error"></span>
		</p>

		<p id="password_confirm" >
			<label>Confirmation : <br><input type="password" name="password_confirm"></label>
			<br><span class="error"></span>
		</p>

		<p>
			<button type="button" id="resetButton">Valider</button>
		</p>
	</form>
</div>
