<div id="user_edit_password" class="side-content">
	<h2>Modifiez votre mot de&nbsp;passe</h2>
	<form id="updateForm">
		<span class="error" id="form"></span>

		<p id="password">
			<label><span>Mot de passe actuel : </span><br><input type="password" name="password"></label>
			<br><span class="error" id="password"></span>
		</p>

		<p id="password_new" >
			<label>Nouveau mot de passe : <br><input type="password" name="password_new"></label>
			<br><span class="error" id="password_new"></span>
		</p>

		<p id="password_new_confirm">
			<label>Confirmation : <br><input type="password" name="password_new_confirm"></label>
			<br><span class="error" id="password_new_confirm"></span>
		</p>

		<p>
			<button type="button" id="updateButton">Valider</button>
		</p>
	</form>
	<hr>
	<p>
		<a id="editProfile" href="" >Modifiez vos identifiants</a>
	</p>
	<hr>
	<p>
		<a id="profile" href="">Retour</a>
	</p>
</div>

	
