<div id="user_edit_profile" class="side-content">
	<h2>Modifiez vos identifiants</h2>
	<form id="updateForm">
		<span class="error" id="form"></span>
		<p id="name">
			<label>Nom d'utilisateur : <br><input type="text" name="name"></label>
			<br><span class="error" ></span>
		</p>

		<p id="email">
			<label>E-mail : <br><input type="text" name="email"></label>
			<br><span class="error" ></span>
		</p>

		<p id="password">
			<label><span>Mot de passe : </span><br><input type="password" name="password"></label>
			<br><span class="error" id="password"></span>
		</p>

		<p>
			<button type="button" id="updateButton">Valider</button>
		</p>
	</form>
	<hr>
	<p>
		<a id="editPassword" href="">Modifiez votre mot de passe</a>
	</p>
	<hr>
	<p>
		<a id="profile" href="">Retour</a>
	</p>
</div>
	
