<div id="login" class="side-content">
	<h2>Se connecter</h2>
	<form id="loginForm">
		<span class="error" id="form"></span>
		<p id="email">
			<label>E-mail : <br><input type="text" name="email"></label>
			<br><span class="error" ></span>
		</p>
		
		<p id="password">
			<label>Mot de passe : <br><input type="password" name="password"></label>
			<br><span class="error" ></span>
		</p>
		
		<p id="remember">
			<label><input type="checkbox" name="remember_me" > Rester connecté</label>
		</p>
		
		<p>
			<a href="#/forgot_password" id="forgot_password">Mot de passe oublié ?</a>
		</p>
				
		<p>
			<button type="button" id="loginButton">Valider</button>
		</p>
	</form>
	<hr>
	<p>
		<a href="#/register" id="register">Créer un compte</a>
	</p>
</div>
